/* style for body */
body, html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
  }
  /* style for header image*/
  .bgimg {
    background-position: center;
    background-size: cover;
    background-image: url("header.jpg");
    min-height: 60%;
  }
  /* style for menu */
  .menu {
    display: none;
  }

  